/*body {
    margin: 0;
    padding: 80px;
    background-color: #fff;
}*/

* {
    margin: 0;
    padding: 0;
}

/*body {
    background-image: linear-gradient(135deg, #f58e8e, #f26969, #ef4444, #e11313, #a90f0f, #710a0a);
    background-size: 500%;
    animation: fanimado 5s infinite;
}*/

body {
    color: white;
    background: #222831;
}

section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    border-radius: 200px;
}

.lightred {
    display: flex;
    flex-direction: column;
    background: #31363F;
    -webkit-box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
    -moz-box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
    box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
}

.red {
    background: #f26969;
}

.text {
    color: white;
    text-align: center;
    margin: 200px 0 250px 0;
    font-size: 100px;
    font-family: "Anton", sans-serif;
}



.title {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    cursor: default;
}

@-webkit-keyframes shine {
    0%, 10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 18%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.subtitle {
    display: flex;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Anton", sans-serif;
    cursor: default;
}

.button-option {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn1, .btn2 {
    display: block;
    width: 230px;
}

.btn1 {
    float: left;
    margin-bottom: 100px;
}

.btn2 {
    padding-right: 20px;
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
}

    .btn2:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #eaf818;
        background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5);
        7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
    }

    .btn2:hover {
        color: #000;
    }

        .btn2:hover:after {
            top: auto;
            bottom: 0;
            height: 100%;
        }

    .btn2:active {
        top: 2px;
    }

.option:hover {
    color: aquamarine;
    transition: 0.5s ease-in;
}

.container-content {
    display: flex;
    float: left;
    width: 70%;
    background-color: #76ABAE;
    border-radius: 50px;
    flex-wrap: wrap;
    padding: 25px 20px;
    -webkit-box-shadow: inset 0px 0px 61px -8px rgba(49,54,63,1);
    -moz-box-shadow: inset 0px 0px 61px -8px rgba(49,54,63,1);
    box-shadow: inset 0px 0px 61px -8px rgba(49,54,63,1);
}

.back-button-read {
    margin-left: 10px;
    margin-bottom: 20px;
}

.back-button {
    margin-left: 10px;
    margin-bottom: 20px;
}

.content-qr {
    /*display: flex;*/
}

.selection-text {
    color: black;
    font-family: "Anton", sans-serif;
}

.btn-color-read {
    background-color: limegreen;
}

.btn-color-delete {
    background-color: red;
}

.picture {
    display: flex;
    opacity: 0.75;
    height: 250px;
    width: 250px;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 5px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.file-uploader {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
}

.upload-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
}

.picture:hover .upload-icon {
    opacity: 1;
}

.picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitle-readqr {
    display: flex;
    margin-left: 80px;
}

.button-image {
    display: flex;
    gap: 50px;
    margin: 60px 0;
    padding-left: 100px;
    flex-direction: column;
}

.input-group .form-control {
    width: calc(100% - 40px);
    display: inline-block;
}

.input-group-btn {
    display: inline-block;
    vertical-align: top;
}

.input-group-btn .btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 20px;
}

.position-grid {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.page {
    margin-top: 200px;
    display: table;
    width: 100%;
}

aside {
    display: flex;
    background-color: #76ABAE;
    border-radius: 50px;
    padding-left: 15px;
    float: right;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}



/*GENERATE QR CODE*/
.btn-8 {
    background-color: #76ABAE;
    background-image: linear-gradient(315deg, #76ABAE 0%, #89d8d3 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

    .btn-8 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn-8:before,
    .btn-8:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: #ffffff;
        /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
        transition: all 0.3s ease;
    }

    .btn-8:before {
        height: 0%;
        width: 2px;
    }

    .btn-8:after {
        width: 0%;
        height: 2px;
    }

    .btn-8:hover:before {
        height: 100%;
    }

    .btn-8:hover:after {
        width: 100%;
    }

    .btn-8:hover {
        background: transparent;
    }

    .btn-8 span:hover {
        color: #ffffff;
    }

    .btn-8 span:before,
    .btn-8 span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #ffffff;
        /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
        transition: all 0.3s ease;
    }

    .btn-8 span:before {
        width: 2px;
        height: 0%;
    }

    .btn-8 span:after {
        height: 2px;
        width: 0%;
    }

    .btn-8 span:hover:before {
        height: 100%;
    }

    .btn-8 span:hover:after {
        width: 100%;
    }

.menu-opctions ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 30px;
}

ul {
    text-align: center;
}

.menu-opctions li {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-reset {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

/*PESTAÑA - URL*/
.container-generate {
    display: flex;
    background-color: #76ABAE;
    border-radius: 50px;
    padding: 50px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-shadow: inset 0px 0px 70px 13px rgba(49,54,63,1);
    -moz-box-shadow: inset 0px 0px 70px 13px rgba(49,54,63,1);
    box-shadow: inset 0px 0px 70px 13px rgba(49,54,63,1);
}

.content-url {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-generate-url {
    margin-left: 15px;
}

.generated-qr-url {
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download-qr-url {
    margin-top: 10px;
}

.error-url {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*PESTAÑA - WHATSAPP*/
.content-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.error-color {
    color: red;
}

.content-whatsapp-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generate-wpp {
    display: flex;
    margin-top: 10px;
}

.generated-qr-wpp {
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download-qr-wpp {
    margin-top: 10px;
}

.btn-generate-wpp {
    margin-left: 15px;
}

/*PESTAÑA - TELEFONO*/
.content-tel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.error-tel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-generate-tel {
    margin-left: 15px;
}

.generated-qr-tel {
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download-qr-tel {
    margin-top: 10px;
}



/*RESPONSIVE DE LAS PESTAÑAS*/
@media screen and (max-width: 425px) {
    .page {
        flex-direction: column;
    }

    .box-area {
        display: flex;
    }

    .box-area li {
        display: flex
    }

    .text {
        font-size: 70px;
        margin: 0px 0px 350px 0px;
        padding-top: 80px;
    }
}

