/*body {
    margin: 0;
    padding: 80px;
    background-color: #fff;
}*/

* {
    margin: 0;
    padding: 0;
}

/*body {
    background-image: linear-gradient(135deg, #f58e8e, #f26969, #ef4444, #e11313, #a90f0f, #710a0a);
    background-size: 500%;
    animation: fanimado 5s infinite;
}*/

body {
    color: white;
    background: #222831;
}

section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    border-radius: 200px;
}

.lightred {
    background: #31363F;
    -webkit-box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
    -moz-box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
    box-shadow: inset 5px 1px 76px 5px rgba(118,171,174,1);
}

.red {
    background: #f26969;
}

.text {
    color: white;
    text-align: center;
    margin: 250px 0;
    font-size: 100px;
    font-family: "Anton", sans-serif;
}



.title {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    cursor: default;
}

@-webkit-keyframes shine {
    0%, 10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.subtitle {
    color: white;
    font-size: 50px;
    font-family: "Anton", sans-serif;
}

.button-option {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 150px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn1, .btn2 {
    display: block;
    width: 230px;
}

.btn1 {
    float: left;
    margin-bottom: 100px;
}

.btn2 {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
}

    .btn2:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #eaf818;
        background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5);
        7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
    }

    .btn2:hover {
        color: #000;
    }

        .btn2:hover:after {
            top: auto;
            bottom: 0;
            height: 100%;
        }

    .btn2:active {
        top: 2px;
    }

.option:hover {
    color: aquamarine;
    transition: 0.5s ease-in;
}

.container-content {
    background-color: #76ABAE;
    border-radius: 50px;
    margin-top: 200px;
}

.back-button {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-top: 20px;
    margin-right: 30px;
}

.content-qr {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.selection-text {
    color: black;
    margin-left: 77px;
    font-family: "Anton", sans-serif;
}

.btn-color-read {
    background-color: limegreen;
}

.btn-color-delete {
    background-color: red;
}

.picture {
    opacity: 0.75;
    height: 250px;
    width: 250px;
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 5px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.file-uploader {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
}

.upload-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #ccc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
}

.picture:hover .upload-icon {
    opacity: 1;
}

.picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-image {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.input-group .form-control {
    width: calc(100% - 40px);
    display: inline-block;
}

.input-group-btn {
    display: inline-block;
    vertical-align: top;
}

.input-group-btn .btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 20px;
}

.position-grid {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}


/*GENERATE QR CODE*/

.menu-opctions ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-top-width: 0px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.btn-reset {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}


.content-generate-panel {
    display: flex;
}

.btn-active:hover:active {
    width: 100px;
    background-color: red;
}

